.ExampleLightbox-sideSheetPresentTriggerIcon {
  /* SELF-LAYOUT */
  width: 24px;
  height: 24px;
}

.ExampleLightbox-sideSheetPresentTriggerText {
  /* TEXT */
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-5);
}

.ExampleLightbox-list {
  /* INNER-LAYOUT */
  padding-inline: var(--size-8);
  padding-block: var(--size-8)
    max(env(safe-area-inset-bottom, 0px), var(--size-8));
  display: grid;
  gap: var(--size-9);
}

.ExampleLightbox-comment {
  /* INNER-LAYOUT */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: var(--size-4);
}

.ExampleLightbox-profilePicture {
  /* SELF-LAYOUT */
  width: var(--size-13);
  height: var(--size-13);

  /* APPEARANCE */
  border-radius: var(--radius-full);
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ExampleLightbox-text {
  /* INNER-LAYOUT */
  display: grid;
  gap: var(--size-2);
  /* APPEARANCE */
  border-radius: var(--radius-6);
  background-color: var(--neutral-9);
  /* INNER-LAYOUT */
  padding: var(--size-4) var(--size-6);
}

.ExampleLightbox-username {
  /* TEXT */
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
  color: var(--neutral-2);
}

.ExampleLightbox-commentContent {
  /* APPEARANCE */
  list-style-type: none;

  /* TEXT */
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  line-height: var(--line-height-3);
  color: var(--neutral-1);
}
